.container {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	row-gap: 1.25rem;

	padding: 1rem 1.25rem;
}
.block {
	display: flex;
	flex-direction: row;
	column-gap: 1.25rem;
}
.second-block {
	display: flex;
	flex-direction: column;
	row-gap: 1.25rem;

	width: calc((100% - 1.25rem) / 2);
}
